
.Navbar {
background-color:#831313;
display: flex;
padding: 16px;
font-family: sans-serif;
color: white;
}

button{
      border-radius: 1ch;
  }

body{
background-color: F2E2D3;
font-family: 'Muli', sans-serif ;
}

th, td {
  
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
table {
    border-collapse: separate;
    border-spacing: 0 15px;
}
table, th, td {
  border:1px solid black;
}